[submodule "include/osh-core"]
	path = include/osh-core
	url = https://github.com/cam-s-hunt/osh-core.git
	branch = v2
[submodule "include/osh-addons"]
	path = include/osh-addons
	url = https://github.com/cam-s-hunt/osh-addons.git
	branch = v2
